<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="home.html">
    <link rel="stylesheet" href="calc.html">
    <title>Mana lapa</title>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul class="menu">
            <a href="/about">HTML</a>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/calc">Calc</a>
            </li>

            <li>
                <a href="/about">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
        <h1>Welcome Home!</h1>
    </div>
  </body>
</html>